[alias]
	a = add .
	cl = clone
	cm = commit -m
	co = checkout
	f = fetch
	l = log
	pl = pull
	ps = push
	s = status

[core]
	editor = vi
	excludesFile = ~/.gitignore

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true

[user]
	name = Ben Wolfaardt
	email = benjaminwolfaardt@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGAKMjarqY4n9DpOPAKF1mxz0Oq91/vRECmFSs4C2x7o

[gpg]
	format = ssh

[commit]
	gpgsign = true

[includeIf "gitdir:~/src/kima/"]
	path = ~/src/kima/.gitconfig
