[alias]
	a = add .
	cl = clone
	cm = commit -m
	co = checkout
	f = fetch
	l = log
	pl = pull
	ps = push
	s = status

[core]
	editor = vi
	excludesFile = ~/.gitignore

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true

[user]
	name = Ben Wolfaardt
	email = benjaminwolfaardt@gmail.com

[includeIf "gitdir:~/src/kima/"]
    path = ~/src/kima/.gitconfig
    
[url "git@kima.github.com:kima-finance"]
    insteadOf = https://github.com/kima-finance
